<% tasks.each do |task| %>
  <div class="row">
    <div class="col-lg-6 finished-task-block" >
        <table style="width: 100%;">
          <td style="text-align: left;">
            <h4><a href="<%= TitleParser.parse(task) %>"><%= %{#{task.title}} %></a></h4>
          </td>
          <td style="text-align: right;">
              <h4> <%= %{#{task.finish_time}} %> </h4>
          </td>
        </table>
    </div>
  </div>
  <br>

<% end %>
