<% tasks.each do |task| %>
  <div class="row">
    <div class="col-lg-6 finished-task-block" >
        <table style="width: 100%;">
          <td style="text-align: left;">
            <h4><a href="<%= TitleParser.parse(task) %>"><%= %{#{task.title}} %></a></h4>
          </td>
          <td style="text-align: right;">
              <h4> <%= %{#{(Date.strptime(task.created_at.to_s, '%Y-%m-%d')-Date.strptime(task.finished_at.to_s, '%Y-%m-%d')).to_i}}%> day/s </h4>
          </td>
        </table>
    </div>
  </div>
  <br>

<% end %>
