
<div class="col-sm-3"></div>
<div class="col-sm-6">

  <br>
  <form class="" action="/add-important-task" method="post">
    <div class="input-group">
      <label for="name">Task name</label>
      <input type="text" name="name" id="name" class="form-control" placeholder="Name" aria-describedby="basic-addon1">
    </div>
    <br>
    <div class="input-group">
      <label for="text">Description</label>
      <textarea class="form-control" rows="4" name="comment" id="comment" style="resize: none;"></textarea>
    </div>

  </form>
</div>
<div class="col-sm-3"></div>
