
<div class="col-sm-3"></div>
<div class="col-sm-6">
  <h1>Add task</h1>
  <br>
  <form class="" action="/add-task" method="post">
    <div class="input-group center-big">
      <label for="name">Task name</label>
      <input type="text" name="title" id="title" class="form-control" placeholder="Name" aria-describedby="basic-addon1" required>
    </div>
    <br>
    <div class="input-group center-big">
      <label for="text">Comment</label>
      <textarea class="form-control" rows="4" name="description" id="description" placeholder="Text" style="resize: none;"></textarea>
    </div>
    <br>
    <div class="input-group center-date ">
      <label for="date">Limit date</label>
      <br>
      <input type="date" name="finish_time" id="finish_time">
    </div>
    <br>
    <div class="input-group center-small">
      <label for="important">Important</label>
      <br>
      <input type="checkbox" name="important" id="important"> Is important?</input>
    </div>
    <br>
    <br>
    <button type="submit" id="add" name="add" class="btn btn-default btn-primary navbar-btn center-button">Add</button>
    <br>
    <a class="btn btn-default navbar-btn center-button-goback" href="/">Go back</a>
  </form>
</div>
<div class="col-sm-3"></div>
