<div class="col-sm-3"></div>

<div class="col-sm-6">
  <div class="">
    <h1>Tasks to do</h1>
    <div class="date-buttons">
      <br>
      <a type="button" id="done" class="btn btn-default center-button-taskstodo" href="/done">
        Done tasks
      </a>
    </div>
    <br>
    <a href="/download-csv" style="float:right;">CSV</a> 
    <br>
    <%=  erb(:_list_todo_tasks, :layout => false, locals: {tasks: important_tasks, day: today})   %>
    <%=  erb(:_list_todo_tasks, :layout => false, locals: {tasks: tasks, day: today})   %>
  </div>
  <br>
  <a type="button" class="btn btn-default btn-lg circle-button" href="/add-task">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  </a>
</div>

<div class="col-sm-3"></div>
