h1{
  text-align: center;
  width: 100%;
}


h4{
  display: inline;
  text-align: center;
}

a.link{
  text-decoration: none;
}

.date-buttons{
  display: inline;
  width: 100%;
  text-align: center;
}

.circle-button{
  position: relative;
  margin-left: 47%;
  border-radius: 50%;
  border: 2px solid;
}

.center-big{
  position: relative;
  text-align: center;
  width: 30%;
  margin: auto;
}

.center-small{
  position: relative;;
  text-align: center;
  margin: auto;
}

.center-date{
  position: relative;
  text-align: center;
  margin: auto;
}

.center-button{
  position: relative;
  text-align: center;
  margin-left: 47%;
}

.center-button-goback{
  position: relative;
  text-align: center;
  margin-left: 46%;
}


.task-block{
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  border-width: 2px;
  border-style: solid;
  border-radius: 2px;
  width: 100%;

  background-color: #CCCCCC;
  border-color: #AAAAAA;
}

.important-task-block{
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  border-width: 2px;
  border-style: solid;
  border-radius: 2px;
  width: 100%;

  background-color: #ffff99;
  border-color: #b3b300;
}

.task-block-button-td{
  width: 10%;
  margin: 0 0 0 0;
}
